<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>Socket y Flask</title>
</head>
<body>
    <h1>Socket y Flask</h1>
    <ul id="message">
        <input type="text" name="" id="myMessage">
        <button type="button" id="send">enviar</button>
    </ul>
    

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script>

        var socket = io();
        $('#send').click(function(){
            socket.emit('message', $('#myMessage').val())
        });

        socket.on('message', function(message){
            $('#message').append('<li>' + message + '</li>')
        });
    </script>
</body>
</html>